<div class="pagination">

    <h2 class="user-list-title">Lista de Usuários</h2>
    <div class="user-list"> 
        <div class="user-item" *ngFor="let user of users">
            <div class="user-card">
                <img 
                    class="avatar" 
                    [src]="user.image ??  'https://via.placeholder.com/48'"
                    alt="foto do usuário"
                >
                <div class="user-info">
                    <div>{{ user.firstName }} {{ user.lastName }}</div>
                    <div>IP: {{user.ip ?? user.email }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-footer">

        <button
            (click)="prevPage()" 
            [disabled]="skip === 0"
        >
            Anterior
        </button>

        <span>Página {{ skip / limit + 1 }}</span>
        
        <button 
            (click)="nextPage()" 
            [disabled]="skip + limit >= total"
        >
            Próxima
        </button>
    </div>

</div>
